.fc-day-header {
    font-size: 18px;
    background-color:
        rgb(11, 97, 131);
    color:
        white;
    height: 35px;
}

.dataTables_filter {
    float: right;
}

.pagination {
    float: right;
}